{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        {% if response.status_code == 404 %}
            <div class="jumbotron">
                <h1 class="display-4">User not found!</h1>
                <p class="lead">{{ response.json()['message'] }}</p>
            </div>
        {% elif response.status_code == 200 %}
            <div class="border-section content-section col-lg-6 offset-lg-3">
                <form method="POST" action="">
                    {{ update_data_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account</legend>
                        {% set account = response.json()['user'] %}
                        <div class="form-group row">
                            <label for="staticUsername" class="col-sm-3 col-form-label"><b>Username</b></label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="staticUsername" value="{{ account.username }}" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ update_data_form.first_name.label(class="col-sm-3 col-form-label font-weight-bold") }}
                            <div class="col-sm-9">
                                {% if update_data_form.first_name.errors %}
                                    {{ update_data_form.first_name(class="form-control is-invalid", placeholder="ex. Jane") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_data_form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_data_form.first_name(class="form-control", placeholder="ex. Jane") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ update_data_form.last_name.label(class="col-sm-3 col-form-label font-weight-bold") }}
                            <div class="col-sm-9">
                                {% if update_data_form.last_name.errors %}
                                    {{ update_data_form.last_name(class="form-control is-invalid", placeholder="ex. Doe") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_data_form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_data_form.last_name(class="form-control", placeholder="ex. Doe") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ update_data_form.role.label(class="col-sm-3 col-form-label font-weight-bold") }}
                            <div class="col-sm-9">
                                {{ update_data_form.role(class="custom-select col-sm-5", disabled=False if user.admin else True) }}
                            </div>
                        </div>

                        <div class="row float-right">
                            {{ update_data_form.submit_account(class="btn btn-outline-success mr-3") }}
                        </div>
                    </fieldset>
                </form>

                <form method="POST" action="">
                    {{ password_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Password</legend>
                        <div class="form-group row">
                            {{ password_form.new_password.label(class="col-sm-3 col-form-label font-weight-bold") }}
                            <div class="col-sm-9">
                                {% if password_form.new_password.errors %}
                                    {{ password_form.new_password(class="form-control is-invalid", placeholder="Type New Password") }}
                                    <div class="invalid-feedback">
                                        {% for error in password_form.new_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ password_form.new_password(class="form-control", placeholder="Type New Password") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ password_form.confirm_new_password.label(class="col-sm-3 col-form-label font-weight-bold") }}
                            <div class="col-sm-9">
                                {% if password_form.confirm_new_password.errors %}
                                    {{ password_form.confirm_new_password(class="form-control is-invalid", placeholder="Confirm New Password") }}
                                    <div class="invalid-feedback">
                                        {% for error in password_form.confirm_new_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ password_form.confirm_new_password(class="form-control", placeholder="Confirm New Password") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row float-right">
                            {{ password_form.submit_password(class="btn btn-outline-success mr-3") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        {% else %}
            <div class="jumbotron">
                <h1 class="display-5">{{ response.json()['message'] }}</h1>
                {% if response.status_code == 403 %}
                    <p class="lead">You can only access your account.</p>
                {% else %}
                    <p class="lead">Please try again later.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}